name: CMake

on: [push, pull_request]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: RelWithDebInfo

jobs:
  build-mdspan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - compiler_driver: g++-12
          compiler_prefix: /usr/bin
    steps:
    - name: Create Build Environment
      run: cmake -E make_directory mdspan-build
      
    - name: Check Out
      uses: actions/checkout@v2
      with:
        repository: kokkos/mdspan
        path: mdspan-src
      
    - name: Configure CMake
      working-directory: mdspan-build
      run: cmake $GITHUB_WORKSPACE/mdspan-src -DCMAKE_CXX_COMPILER=g++-12 -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/mdspan-install
      
    - name: Build
      working-directory: mdspan-build
      run: make
      
    - name: Install
      working-directory: mdspan-build
      run: make install
      
    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: mdspan
        path: mdspan-install

  configure-stdblas:
    runs-on: ubuntu-latest
    needs: build-mdspan
    
    steps:
    - name: Download mdspan
      uses: actions/download-artifact@v2
      with:
        name: mdspan
        path: mdspan-install 
        
    - name: Create Build Environment
      run: cmake -E make_directory stdblas-build
        
    - name: Check Out
      uses: actions/checkout@v2
      with:
        path: stdblas-src
        
    - name: Configure CMake
      shell: bash
      working-directory: stdblas-build
      run: cmake $GITHUB_WORKSPACE/stdblas-src -DCMAKE_CXX_COMPILER=g++-12 -Dmdspan_DIR=$GITHUB_WORKSPACE/mdspan-install/lib/cmake/mdspan -DLINALG_ENABLE_TESTS=On -DLINALG_ENABLE_EXAMPLES=On -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/stdblas-install

    - name: Upload workspace
      uses: actions/upload-artifact@v2
      with:
        name: workspace
        path: .
      
  build-stdblas:
    runs-on: ubuntu-latest
    needs: configure-stdblas
    
    steps:
    
    - name: Download workspace
      uses: actions/download-artifact@v2
      with:
        name: workspace
        path: .
        
    - name: Build
      working-directory: stdblas-build
      shell: bash
      run: make
      
    - name: Tar files
      shell: bash
      run: tar -cvf stdblas.tar *

    - name: Upload workspace
      uses: actions/upload-artifact@v2
      with:
        name: stdblas
        path: stdblas.tar
        
  test-stdBLAS:
    runs-on: ubuntu-latest
    needs: build-stdblas
    
    steps:
    
    - name: Download workspace
      uses: actions/download-artifact@v2
      with:
        name: stdblas
        path: .
        
    - name: Untar files
      shell: bash
      run: tar -xvf stdblas.tar
        
    - name: Test
      working-directory: stdblas-build
      shell: bash
      run: ctest --output-on-failure
      
  install-stdBLAS:
    runs-on: ubuntu-latest
    needs: build-stdblas
    
    steps:
    
    - name: Download workspace
      uses: actions/download-artifact@v2
      with:
        name: stdblas
        path: .
        
    - name: Untar files
      shell: bash
      run: tar -xvf stdblas.tar
        
    - name: Install
      working-directory: stdblas-build
      shell: bash
      run: make install
